* {
  margin: 0 auto;
  padding: 0;
  /* text-decoration: none; */
}

.oll-page {
  font-family: Roboto;
  font-style: normal;
  background-color: rgb(255, 255, 255);
  width: 1600px;
}
.header {
  background-color: blueviolet;
}
.cite-nav {
  color: black;
}
.cite-nav:hover,
.cite-nav:focus {
  color: red;
}
